<div class="home">
  <section>
    <p>
      I like web, i like code and i like
      <strong>talking</strong> about all this. Go to
      <a [routerLink]="['/talks']">talks</a> to see what i'm up to.
    </p>
    <p>
      Check out my
      <a href="https://github.com/mandarini" target="_blank">github</a>, my
      <a href="https://twitter.com/psybercity" target="_blank">twitter</a>, my
      <a href="https://www.linkedin.com/in/katerinaskroumpelou/" target="_blank"
        >linkedin</a
      >, my
      <a
        href="https://stackoverflow.com/users/4879632/kantharis"
        target="_blank"
        >stackoverflow</a
      >
      and my
      <a href="https://pakotinia.medium.com/" target="_blank">medium</a>
      for more. (and yet another one of my public profiles
      <a href="https://stackoverflow.com/story/katerina" target="_blank">here</a
      >)
    </p>
  </section>
  <section>
    <h3>techy-worky things</h3>
    <p>
      I am a <strong>senior software engineer</strong> at
      <a href="https://nx.dev" target="_blank">Nx</a>.
    </p>
  </section>
  <section>
    <h3>community things</h3>
    <p>
      I am a
      <a
        href="https://developers.google.com/community/experts/directory/profile/profile-katerina-skroumpelou"
        target="_blank"
        >Google Developer Expert</a
      >
      for
      <a href="https://angular.io/" target="_blank">Angular 🅰️</a>,
      <a href="https://web.dev" target="_blank">Web Technologies 🕸️</a> and the
      <a href="https://cloud.google.com/maps-platform/" target="_blank"
        >Google Maps Platform 🗺️</a
      >
      (check out my cool
      <a href="https://ng-gmap-kat.web.app" target="_blank">Google Maps demo</a
      >).
    </p>
    <p>
      I am the co-founder of
      <a href="https://meetup.com/Angular-Athens/" target="_blank"
        >AngularAthens</a
      >, the Angular meetup in Athens, Greece.
    </p>
  </section>
  <section>
    <h3>mentory things</h3>
    <p>
      I am a
      <a
        target="_blank"
        href="https://www.womentechmakers.com/ambassadors/profiles/629f7b339cb5640c3d6c24f4/katerina_skroumpelou"
        >Women Techmakers Ambassador</a
      >.
    </p>
    <p>
      I am a <strong>mentor for women</strong> in the
      <a href="https://womenontop.gr/" target="_blank">Women on Top</a> network
    </p>
    <p>
      I am available for mentoring - in parts of Greece outsite the main urban
      centers. Check out
      <a [routerLink]="['/greecehopperJs']">greecehopperJs</a>.
    </p>
  </section>
  <section>
    <h3>likes things</h3>
    <p>I like <strong>cats</strong>. I like oats, honey and cocoa.</p>
    <p>
      I like to walk, I like to hike, I like mountains and the
      <strong>sea</strong>.
    </p>
  </section>
  <section>
    <p>
      I generally go by three aliases on the internetz:
      <a href="https://github.com/mandarini" target="_blank">mandarini</a>,
      <a href="https://twitter.com/psybercity" target="_blank">psybercity</a>,
      <a href="https://pakotinia.medium.com/" target="_blank">pakotinia</a>.
    </p>
  </section>
  <section></section>
</div>
